.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* Custom switch colors */
.form-check-input.bg-success:checked {
  background-color: #28a745 !important;
  border-color: #28a745 !important;
}

.form-check-input.bg-primary:checked {
  background-color: #007bff !important;
  border-color: #007bff !important;
}

.form-check-input.bg-danger:checked {
  background-color: #dc3545 !important;
  border-color: #dc3545 !important;
}

/* Space between switches */
.form-switch .form-check-input {
  margin-right: 0.5em;
}
